certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
docopt==0.6.2
idna==3.13
numpy==2.4.4
pycparser==3.0
pynput==1.8.1
pyobjc-core==12.1
pyobjc-framework-ApplicationServices==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreText==12.1
pyobjc-framework-Quartz==12.1
pyqtgraph==0.14.0
requests==2.33.1
six==1.17.0
sounddevice==0.5.5
urllib3==2.6.3
yarg==0.1.10
